body {
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transform: scale(1.4);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.imageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.imageContainer p {
  font-weight: 500;
  margin-top: 0;
}

.startButton {
  position: relative;
  font-size: 1.4em;
  padding: 1em 2em;
  color: white;
  border-color: #0075BE;
  transition: transform 0.2s ease-in-out;
  animation: rightSlide 0.7s ease-in-out;
}

.startButton:hover {
  border-color: #FFCC00;
  transform: scale(1.08);
}

.menu, .startMenu {
  display: flex;
  justify-content: center;
}

.menuHeader {
  letter-spacing: -3px;
  font-weight: 800;
}

.menuHeader, .startMenuHeader {
  position: fixed;
  top: 60px;
  text-align: center;
  color: #FFCC00;
  font-size: 60px;
  text-shadow: 0 0 25px #0075BE;
}

.animateHeader {
  animation: startup 0.5s ease-in-out forwards;
}

.menuHeader {
  animation: menuHeader 0.7s ease-in-out;
}

.menuButton {
  font-size: 1.4em;
  padding: 0.8em 2em;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.menuButton:hover {
  transform: scale(1.1);
}

.menuButtonContainer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  animation: leftSlide 0.6s ease-in-out;
}

.difficultyButtonContainer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  animation: leftSlide 0.6s ease-in-out;
    
}

.scoreHeader {
  position: relative;
  margin-top: -40px;
  animation: leftSlide 0.8s ease-in-out;
}

.bestScore {
  position: relative;
  animation: rightSlide 0.8s ease-in-out;
}

.startMenu {
  display: flex;
  justify-content: center;
}

.startMenuHeader {
  width: 500px;
}

.backButtonContainer {
  display: flex;
  position: relative;
  z-index: 40;
}

.backButtonContainer button {
  width: 80px;
  color: white;
}

.gameNameHeader {
  position: relative;
  font-size: 32px;
  color: #FFCC00;
  text-shadow: 0 0 25px #0075BE;
  animation: leftSlide 0.7s ease-in-out;
  letter-spacing: -1px;
}

@media screen and (max-width: 870px) {
  .imageContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }

 .menuButtonContainer {
  grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .imageContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
}

@media screen and (max-width: 580px) {
.menuButtonContainer {
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .menuButtonContainer {
    margin-top: 150px;
  }

  .difficultyButtonContainer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .imageContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }

  .backButtonContainer {
    margin-bottom: 50px;
  }

  .startMenuHeader {
    width: 80vw;
  }

  .menuButtonContainer {
    padding-top: 150px;
    margin-top: 70px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 418px) {
  .difficultyButtonContainer {
    margin-top: 150px;
  }
}

@keyframes startup {
  0% {
    transform: scaleX(1);
  }

  20% {
    transform: scaleX(0.3);
  }

  70% {
    transform: scaleX(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes menuHeader {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes leftSlide {
  from {
    left: -100vw;
  }

  to {
    left: 0px;
  }
}

@keyframes rightSlide {
  from {
    right: -100vw;
  }

  to {
    right: 0px;
  }
}