#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 870px) {
  .imageContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
}

/* Media query for even smaller screens (e.g., mobile) */
@media screen and (max-width: 700px) {
  .imageContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
}

@media screen and (max-width: 520px) {
  .imageContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }

  .backButtonContainer {
    margin-bottom: 50px;
  }
}

.imageContainer p {
  font-weight: 500;
  margin-top: 0;
}

.startButton {
  font-size: 1.4em;
  padding: 1em 2.2em;
  color: white;
  border-color: #0075BE;
}

.startButton:hover {
  border-color: #FFCC00;
}

.menu, .startMenu {
  display: flex;
  justify-content: center;
}

.menuHeader, .startMenuHeader {
  position: fixed;
  top: 60px;
  text-align: center;
  color: #FFCC00;
  font-size: 60px;
  text-shadow: 0 0 25px #0075BE;
}

.menuButton {
  font-size: 1.4em;
  padding: 0.8em 2em;
  color: white;
}

.menuButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.scoreHeader {
  margin-top: -40px;
}

.startMenu {
  display: flex;
  justify-content: center;
}

.startMenuHeader {
  width: 500px;
}

.backButtonContainer {
  display: flex;
  /* Add flex styles to a new container */
  flex-direction: column;
}

.backButtonContainer button {
  width: 80px;
  color: white;
}